<%- include('inc/header'); -%>

<form class="form-signin" action="/login" method="post">
    <img class="mb-4" src="logo.svg" alt="" width="128" height="128">
    <h1 class="h3 mb-3 font-weight-normal">Mellow</h1>
    <label for="username" class="sr-only">Username</label>
    <input type="text" class="form-control" name="username" placeholder="Username" required autofocus>
    <label for="password" class="sr-only">Password</label>
    <input type="password" name="password" class="form-control" placeholder="Password" required>
    <div class="text-left">
        <input type="checkbox" name="rememberme" id="rememberme" value="true">
        <label for="rememberme">Remember Me</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
</form>

<%- include('inc/footer'); -%>
<script src="/js/login.js"></script>

<%- include('inc/post-script-footer'); -%>